{% extends 'base.html.twig' %}

{% block title %}Liste des structures{% endblock %}
{% block body %}
   <h1>Liste des structures</h1>

  <div class="input-control-search d-flex justify-content-center">
    <input type="text" id="searchbar" class="form-control" placeholder="Rechercher" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

	<div class="container">
    {% for structure in structure %}
      <div class="card">
        <h5 class="card-title">{{ structure.city }}</h5>
        <h6 class="card-title">{{ structure.address }} {{ structure.zipcode }}</h6>
        <a href="{{ path('app_admin_list_module', {'id': structure.id}) }}">Voir les modules</a>
        <div class="pra">
          <a href="{{ path('app_admin_edit_structure', {'id': structure.id}) }}" id="btn" class="button">Modifier</a>
          <a href="{{ path('app_admin_delete_structure', {'id': structure.id}) }}" id="btn" class="button">Suprimer</a>
        </div>  
      </div>
    {% endfor %}
	</div>
{% endblock %}